
body {
	font-family: Monospace;
	background-color: #1c1c1c;
	color: #fff;
	margin: 0px;
}
#info {
	color: #fff;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }

.box {
	font:10px sans-serif;
}

.box text {
	fill:black;
}

.box line,.box rect,.box circle {
	fill:#4682b4;
	stroke:black;
	stroke-width:1px;
}

.box .center {
	stroke-dasharray:3,3;
	fill:black;
	stroke:black;
}

.box .outlier {
	fill:none;
	stroke:black;
}

.axis {
	font:12px sans-serif;
}

.axis path,.axis line {
	fill:none;
	stroke:black;
	shape-rendering:crispEdges;
}

.x.axis path {
	fill:none;
	stroke:black;
	shape-rendering:crispEdges;
}

#header_n_label {
	float: left;
	left: 0px;
	margin: auto;
	text-align: center;
	color: white;
}


#nav_label {
	background-color:#ffffff;
	opacity:0.5;
	padding:10px;
	text-align:left;
	color:black;
}

#nav-brain {
	float: left;
	width: 1600px;
	height: 1400px;
	margin: 15px;
	background-color: #000000;
	padding: 5px;
	border-radius: 25px;
	opacity: 2.25;
}

#plot-canvas {
	float: left;
	border: 2px solid #333;
	width: 300px;
	height: 200px;
	padding: 10px;
	margin: 30px 50px 70px 50px;
	background-color: #8d8d8d;
	border-radius: 12px;
}




#nav_legend{
  
    width: 400px;
    height: 100px;
    border: 1px solid #bbb;
    margin:  30px 50px 70px 50px;
    float: left;
}

#demo-links {
	float: right;
	margin: 10px auto 10px auto;
	text-align: right;
}

#left-container{
	width: 600px;
	float: right;
}

#selector {
	width: 600px;
	margin: 0px;
	background-color: green;
}
#selector span {
    width: 100px;
    float: left;
}
#selector.selection-label{
    width: 75px;
    font-family: arial;
    float:left;
}
#selector input {
    margin: 3px 10px 0px 10px;
    float: left;
}
#selector div {
	width: 400px;
	overflow: hidden;
}
/*
 * Search
*/
.search-container {
	padding: 20px 5px 20px 5px;
	text-align: center;
}
.search-field {
	width: 60%;
	height: 30px;
	line-height: 20px;
	font-size: 16px;
	margin-right: 10px;
	padding: 2px;
}
.search-button {
	padding: 4px;
	line-height: 20px;
	font-size: 16px;
}

.colorlegend {
    margin-left: 20px;
}

.region-display-label {
	color: black;
}

#region-selection label {
  float: left;
}
#region-selection ul {
  margin: 0;
  list-style: none;
  float: left;
  top: 2em;
  left: -1px;
  border: 0;
  margin-right: 0;
}

.camera-text {
    width: 50px;
}


input {
    float: left;
    margin: 5px 0px;
    width: 10%;
    border:solid 1px;
}

#regionSelectID {
	font-size: 12px;
}