<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - loaders - vtk loader</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/nav_bar.css" />

		<script src="js/libs/three.min.js"></script>
		<script src="js/libs/Projector.js"></script>
		<script src="js/libs/Detector.js"></script>
		<script src="js/libs/TrackballControls.js"></script>
		<script src="js/libs/VTKLoader.js"></script>
		<!--<script src="js/libs/Detector.js"></script>
		<script src="js/libs/stats.min.js"></script>-->
		<script src="js/libs/jquery.min.js"></script>
		<script src="js/libs/d3.min.js"></script>
        <script src="js/libs/box.js"></script>
        <script src="js/libs/sprintf.js"></script>
		<script src="js/libs/angular.min.js"></script>
        <script src="js/libs/colorlegend.js"></script>
        
        <script src="js/csv_file_loading.js"></script>
        <script src="js/brain.utils.js"></script>
        <script src="js/brain.js"></script>
		<script src="js/boxplot.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

        <!--Some stuff for color scale-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://d3js.org/d3.v4.js"></script>
		
	</head>

	<body>

		<div ng-app="navigator" ng-controller="NavigateController" ng-strict-di>
            
            <div class="navbar">
                <div class="dropdown">
                    <button class="dropbtn">File 
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                    <a href="#">Open Project</a>
                    <a href="#">Process File</a>
                    <a href="#">Download Image</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Region Display 
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content" id="region-selection">
                        <ul>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-caudalanteriorcingulate"> ctx-lh-caudalanteriorcingulate</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-caudalmiddlefrontal"> ctx-lh-caudalmiddlefrontal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-cuneus"> ctx-lh-cuneus</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-entorhinal"> ctx-lh-entorhinal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-fusiform"> ctx-lh-fusiform</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-inferiorparietal"> ctx-lh-inferiorparietal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-inferiortemporal"> ctx-lh-inferiortemporal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-isthmuscingulate"> ctx-lh-isthmuscingulate</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-lateraloccipital"> ctx-lh-lateraloccipital</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-lateralorbitofrontal"> ctx-lh-lateralorbitofrontal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-lingual"> ctx-lh-lingual</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-medialorbitofrontal"> ctx-lh-medialorbitofrontal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-middletemporal"> ctx-lh-middletemporal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-parahippocampal"> ctx-lh-parahippocampal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-paracentral"> ctx-lh-paracentral</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-parsopercularis"> ctx-lh-parsopercularis</li>
                        </ul>
                        <ul>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-parsorbitalis"> ctx-lh-parsorbitalis</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-parstriangularis"> ctx-lh-parstriangularis</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-pericalcarine"> ctx-lh-pericalcarine</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-postcentral"> ctx-lh-postcentral</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-posteriorcingulate"> ctx-lh-posteriorcingulate</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-precentral"> ctx-lh-precentral</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-precuneus"> ctx-lh-precuneus</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-rostralanteriorcingulate"> ctx-lh-rostralanteriorcingulate</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-rostralmiddlefrontal"> ctx-lh-rostralmiddlefrontal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-superiorfrontal"> ctx-lh-superiorfrontal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-superiorparietal"> ctx-lh-superiorparietal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-superiortemporal"> ctx-lh-superiortemporal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-supramarginal"> ctx-lh-supramarginal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-transversetemporal"> ctx-lh-transversetemporal</li>
                            <li><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-insula"> ctx-lh-insula</li>
                        </ul>
                    </div>
                </div> 
                <div class="dropdown">
                    <button class="dropbtn">Help 
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">About 
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                    </div>
                </div>
            </div>
            
            <div class="sidenav">
                <div id="header_n_label">
                <h1>ROYGBIV</h1>
                <div class="search-container">
                    <form id="search-form">
                        <table style="width:100%">
                            <tr>
                                <th>CSV File Upload</th>
                                <th><input value="" id="upload-path" class="search-field" type="search" autocomplete="off" /></th>
                                <th><button id="upload" class="search-button">Upload</button></th>
                            </tr>
                            <tr>
                                <th>Gene Selection</th>
                                <th><input value="" id="search-field" ng-model="geneSearch" class="search-field" type="search" autocomplete="off" /></th>
                                <th><button id="search-button" class="search-button">Go</button></th>
                            </tr>
                            <tr>
                                <th>Region Display</th>
                                <th><button id="clear-regions" class="search-button">Clear</button></th>
                                <th><button id="reset-regions" class="search-button">Reset</button></th>
                            </tr>
                            <tr>
                                <th>Camera XYZ Position</th>
                                <th><input type="text" class="camera-text" ng-model="cameraX"></th>
                                <th><input type="text" class="camera-text" ng-model="cameraY"></th>
                                <th><input type="text" class="camera-text" ng-model="cameraZ"></th>
                            </tr>
                        </table>
                    </form>
                </div>
                <div id="nav_label">
                    <table>
                        <tr>
                            <th>File: </th>
                            <th>{{filePath}}</th>
                        </tr>
                        <tr>
                            <th>Status: </th>
                            <th>{{fileStatus}}</th>
                        </tr>
                        <tr>
                            <th>Gene: </th>
                            <th>{{geneStatus}}</th>
                        </tr>
                        <tr>
                            <th>Camera Position: </th>
                            <th>{{cameraPosDisplayX + " " + cameraPosDisplayY + " " + cameraPosDisplayZ}}</th>
                        </tr>

                    </table>

                    <br />
                    <br />
                    Shift+click on a label to see stats
                    <br />
                    Selected Label: {{selectedLabel}} 
                </div>
                <br />
                <div id="plot-canvas" style="width: 400px; height: 300px;"></div>
                <div id="nav_legend"></div> 
            </div>
            </div>
            <div>               
                    <div id="nav-brain" style="width: 53%; height: 550px; margin-top: 10px; margin-right: 10px;"></div>
                  
            </div>
		</div>
	</body>
</html>
