<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - loaders - vtk loader</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/nav_bar.css" />

        <script src="js/libs/arr-stat.js"></script>
		<script src="js/libs/three.min.js"></script>
		<script src="js/libs/Projector.js"></script>
		<script src="js/libs/Detector.js"></script>
        <script src="js/libs/TrackballControls.js"></script>
        

        <script src="js/libs/VTKLoader.js"></script>
        <script src="js/libs/OBJLoader.js"></script>
        <!--<script src="js/libs/Detector.js"></script>
		<script src="js/libs/stats.min.js"></script>-->
		<script src="js/libs/jquery.min.js"></script>
		<script src="js/libs/d3.min.js"></script>
        <script src="js/libs/box.js"></script>
        <script src="js/libs/sprintf.js"></script>
		<script src="js/libs/angular.min.js"></script>
        <script src="js/libs/colorlegend.js"></script>
        
        <script src="js/csv_file_loading.js"></script>
        <script src="js/csv_file_processing.js"></script>
        <script src="js/brain.utils.js"></script>
        <script src="js/brain.js"></script>
        <script src="js/boxplot.js"></script>
        <script src="js/camera.js"></script>
        <script src="js/regionColorFactory.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

        <!--Some stuff for color scale-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://d3js.org/d3.v4.js"></script>
		
	</head>

	<body>

		<div ng-app="navigator" ng-controller="NavigateController" ng-strict-di>
            
            <div class="sidenav">
                <div id="header_n_label">
                <h1>ROYGBIV</h1>
                <div id="nav_label">
                        <table>
                            <tr>
                                <td>File: </td>
                                <td>{{filePath}}</td>
                            </tr>
                            <tr>
                                <td>File Status: </td>
                                <td>{{fileStatus}}</td>
                            </tr>
                            <tr>
                                <td>Gene Status: </td>
                                <td>{{geneStatus}}</td>
                            </tr>
                            <tr>
                                <td>Color status: </td>
                                <td>{{colorStatus}}</td>
                            </tr>
                        </table>
    
                        <br />
                        <br />
                        Shift+click on a label to see stats
                        <br />
                        Selected Label: {{selectedLabel}} 
                    </div>
                <div class="search-container">
                    <form id="search-form">
                        <table style="width:100%">
                            <tr>
                                <td>CSV File Upload</td>
                                <td><input value="" id="upload-path" class="search-field" type="search" autocomplete="off" /></td>
                                <td><button id="upload" class="search-button">Upload</button></td>
                            </tr>
                            <tr>
                                <td>Gene Selection</td>
                                <td><input value="" id="search-field" ng-model="geneSearch" class="search-field" type="search" autocomplete="off" /></td>
                                <td><button id="search-button" class="search-button">Render</button></td>
                            </tr>
                            <tr>
                                <td>Surface Selection</td>
                                <td>
                                    <select id="surfaceSelection">
                                        <option value="data/lh_files_to_load_surface1.json">Surface 1</option>
                                        <option value="data/lh_files_to_load_surface2.json">Surface 2</option>
                                        <option value="data/lh_files_to_load_surface3.json">Surface 3</option>
                                        <option value="data/lh_files_to_load_surface4.json">Surface 4</option>
                                        <option value="data/lh_files_to_load_surface5.json">Surface 5</option>
                                    </select> 
                                </td>
                            <tr>
                                <td>Z-Score</td>
                                <td>
                                    <select id="normalizationSelection" ng-model="normalizationSelection">
                                        <option value="default">default</option>
                                        <option value="zScoreRow">Z Score By Gene</option>
                                        <option value="zScoreColumn">Z Score By Region</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <div id="nav_legend"></div>
                            </tr>
                            <tr>
                                <td>Color</td>
                                <td><input value="" class="search-field" ng-model="colorPickerR"></td>
                                <td><input value="" class="search-field" ng-model="colorPickerG"></td>
                                <td><input value="" class="search-field" ng-model="colorPickerB"></td>
                                <td><button id="color-button" class="search-button">Go</button></td>
                            </tr>
                            <tr>
                                <td>Background Color</td>
                                <td><input type="color" class="search-field" id="pickme" onchange="colorChange(event);" ng-model="colorPickerBackground"></td>
                            </tr>
                            <tr>
                                <td>Camera</td>
                                <td><input value="" class="search-field" ng-model="cameraSettingName"></td>
                                <td><button id="camera-button" class="search-button">Snapshot</button></td>
                            </tr>
                        </table>

                            <table id="cameraSettings">
                                
                            </table>

                            <table id="regionSelectID">
                            <tr>
                            <div id="region-selection"> 

                            <tr>
                                <td>Region Display</td>
                                <td><button id="clear-regions" class="search-button">Clear</button></td>
                                <td><button id="reset-regions" class="search-button">Reset</button></td>
                            </tr>

                                <tr>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-caudalanteriorcingulate"> ctx-lh-caudalanteriorcingulate</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-caudalmiddlefrontal"> ctx-lh-caudalmiddlefrontal</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-cuneus"> ctx-lh-cuneus</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-entorhinal"> ctx-lh-entorhinal</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-fusiform"> ctx-lh-fusiform</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-inferiorparietal"> ctx-lh-inferiorparietal</td>
                                </tr>
                                <tr>

                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-inferiortemporal"> ctx-lh-inferiortemporal</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-isthmuscingulate"> ctx-lh-isthmuscingulate</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-lateraloccipital"> ctx-lh-lateraloccipital</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-lateralorbitofrontal"> ctx-lh-lateralorbitofrontal</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-lingual"> ctx-lh-lingual</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-medialorbitofrontal"> ctx-lh-medialorbitofrontal</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-middletemporal"> ctx-lh-middletemporal</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-parahippocampal"> ctx-lh-parahippocampal</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-paracentral"> ctx-lh-paracentral</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-parsopercularis"> ctx-lh-parsopercularis</td>            
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-parsorbitalis"> ctx-lh-parsorbitalis</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-parstriangularis"> ctx-lh-parstriangularis</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-pericalcarine"> ctx-lh-pericalcarine</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-postcentral"> ctx-lh-postcentral</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-posteriorcingulate"> ctx-lh-posteriorcingulate</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-precentral"> ctx-lh-precentral</td>
                                </tr>
                                <tr>
                                    
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-precuneus"> ctx-lh-precuneus</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-rostralanteriorcingulate"> ctx-lh-rostralanteriorcingulate</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-rostralmiddlefrontal"> ctx-lh-rostralmiddlefrontal</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-superiorfrontal"> ctx-lh-superiorfrontal</td>
                                </tr>
                                <tr>  
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-superiorparietal"> ctx-lh-superiorparietal</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-superiortemporal"> ctx-lh-superiortemporal</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-supramarginal"> ctx-lh-supramarginal</td>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-transversetemporal"> ctx-lh-transversetemporal</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="region-select" id="region-select" name="ctx-lh-insula"> ctx-lh-insula</td>
                                </tr>
                            </div>
                        </table>
                    </form>
                </div>

                <br />
                <div id="plot-canvas" style="width: 400px; height: 300px;"></div>
                
            </div>
            </div>
            <div class="graphics-display">               
                <div id="nav-brain" style="width: 2400px; height: 1600px"></div>
            </div>
		</div>
	</body>
</html>